*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#2563eb;
}

header h2{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    padding:80px;
    flex-wrap:wrap;
}

.hero img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #2563eb;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    color:#2563eb;
    margin-bottom:20px;
}

.hero-text p{
    line-height:28px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#2563eb;
    color:white;
    cursor:pointer;
    border-radius:5px;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
    transform:scale(1.05);
}

.skills,.project{
    padding:60px;
}

.skills h2,
.project h2{
    text-align:center;
    margin-bottom:40px;
}

.skill-box,
.project-box{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    width:220px;
    background:white;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

footer{
    text-align:center;
    padding:20px;
    background:#2563eb;
    color:white;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

.hero{
padding:30px;
text-align:center;
}

}